$svgHeight: 624px;
$tableWidth: 250px;

voter-transitions {
  display: block;

  button {
    &:hover {
      opacity: 0.8;
    }

    &:focus, &:focus:active {
      outline: none !important;
    }
  }

  p.info {
    font: {
      size: 11px;
      style: italic;
    }
    margin: 10px 0 0 0;
  }

  nav {
    left-side {
      @media (min-width: 531px) {
        float: left;
        margin-right: 20px;
      }
    }

    right-side {
      display: block;
      margin-top: 5px;

      @media (min-width: 531px) {
        float: right;
      }
    }

    .btn {
      width: $tableWidth;
      font-size: 12px;
      border: 1px solid #bcbec0;
      background: #e6e7e8;
      border-radius: 0px;
      padding: 4px;

      @media (max-width: 530px) {
        width: 100%;
        font-size: 14px;
      }

      span {
        display: inline-block;
        width: $tableWidth - 15;
        background: #000;
        color: #fff;
        padding: 2px;

        @media (max-width: 530px) {
          width: 100%;
        }
      }
    }
  }

  transition-view {
    position: relative;
    display: block;

    transition-chart {
      position: relative;
      display: block;
      height: $svgHeight;

      @media (max-height: $svgHeight) {
        height: 400px;
      }

      svg {
        width: 100%;
        height: $svgHeight;

        @media (max-height: $svgHeight) {
          height: 400px;
        }
      }

      swipe-guide {
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        background: #f87016;
        padding: 20px;
        border-radius: 10px;
        transition: all 2s ease;
        opacity: 0;

        &.active {
          opacity: 1;
        }

        img {
          width: 160px;
          height: 160px;
          margin: auto;
        }
      }
    }

    transition-table {
      table {
        display: inline-block;
        width: $tableWidth;
        height: ($svgHeight / 2);

        border: {
          spacing: 0;
          collapse: collapse;
        }
        font-size: 11px;

        &.lost {
          float: right;
        }

        @media (max-width: 530px) {
          width: 100%;
          display: block;
          height: auto;

          td:nth-child(2) {
            width: 100%;
          }
        }

        @media (min-width: 768px) {
          position: absolute;
          left: 0;

          &.gain {
            top: 0;
          }
          &.lost {
            bottom: 0;
          }
        }

        img {
          width: 15px;
          margin-right: 5px;
        }

        th {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          padding: 5px 0px;

          &:first-child {
            font-size: 20px;
            text-align: left;
            vertical-align: bottom;
          }

          &:nth-last-child(-n+2) {
            width: 60px;
            white-space: pre-line;
            text-align: center;
            font-weight: normal;
          }
        }


        td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          padding: 0px;
          height: 20px;
          vertical-align: middle;

          &:nth-child(-n+2) {
            cursor: pointer;
          }

          &:nth-last-child(-n+2) {
            text-align: right;
            font-weight: bold;
          }

          &:last-child {
            text-align: center;
          }
        }
      }
    }
  }

  transition-menu {
    $width: 450px;
    $selectorMargin: 10px;
    $selectorWidth: ($width - ($selectorMargin * 3)) / 2;
    $selectorHeight: 250px;

    position: absolute;
    top: 140px;
    width: $width + 2;
    left: 0;
    transform: translate3d(0, 0, 0);
    border: 1px solid #000;
    background: #fff;

    menu-header {
      display: inline-block;
      user-select: none;
      font-size: 12px;

      menu-helper {
        position: absolute;
        top: 5px;
        right: 35px;
        cursor: move;
        font-weight: lighter;

        &:before {
          font-family: FontAwesome;
          content: "\f047";
        }
      }

      .close {
        position: absolute;
        top: 0px;
        right: 5px;
        font-weight: lighter;
      }
    }

    menu-selectors {
      display: block;

      .selector {
        width: $selectorWidth;
        background: #000;
        color: #fff;
        user-select: none;
        margin: $selectorMargin;
        float: left;
        font: {
          size: 10px;
          weight: lighter;
        }

        &:first-child {
          margin-right: 0;
        }

        ul {
          list-style-type: none;
          padding: 0;
          display: block;
          height: $selectorHeight;
          overflow-y: scroll;
        }

        li {
          padding: 2px 2px 2px 10px;
          text-transform: uppercase;
          cursor: pointer;

          &.party:before {
            font-family: FontAwesome;
            content: "\f096";
            margin-right: 8px;
          }

          &.active {
            font-weight: bold;

            &.party:before {
              content: "\f0c8";
            }
          }
        }
      }
    }
  }
}

.d3-tip {
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;

  p {
    margin: 0;
  }
}
