menu-header
  menu-helper &nbsp; TRÆK MIG RUNDT
  .close(ng-click="showMenu=false") &times;
  .clearfix
menu-selectors
  .selector
    ul.party
      li.party(ng-class="{active: parti=='a'}" ng-click="parti = 'a'") Socialdemokraterne
      li.party(ng-class="{active: parti=='b'}" ng-click="parti = 'b'") Radikale Venstre
      li.party(ng-class="{active: parti=='c'}" ng-click="parti = 'c'") Konservative
      li.party(ng-class="{active: parti=='f'}" ng-click="parti = 'f'") Socialistisk Folkeparti
      li.party(ng-class="{active: parti=='i'}" ng-click="parti = 'i'") Liberal Alliance
      li.party(ng-class="{active: parti=='k'}" ng-click="parti = 'k'") Kristendemokraterne
      li.party(ng-class="{active: parti=='o'}" ng-click="parti = 'o'") Dansk Folkeparti
      li.party(ng-class="{active: parti=='v'}" ng-click="parti = 'v'") Venstre
      li.party(ng-class="{active: parti=='ø'}" ng-click="parti = 'ø'") Enhedslisten
      li.party(ng-class="{active: parti=='å'}" ng-click="parti = 'å'") Alternativet
  .selector
    ul.period
      li(ng-click="changePeriod('data', 'fra valget 2011 til oktober 2014')") Valg 2011 til oktober 2014
      li(ng-click="changePeriod('data2', 'fra valget 2011 til april 2015')") Valg 2011 til april 2015
      li(ng-click="changePeriod('data3', 'fra valget 2011 til 17. juni 2015')") Valg 2011 til 17. juni 2015
      li(ng-click="changePeriod('data4', 'fra 18. juni 2015 til februar 2016')") 18. juni 2015 til februar 2016
  .clearfix
